* {
    margin: 0;
}
body {
    background-color: #eae9e933;
}

nav {
    height: 80px;
}
header {
    background-color: #75cb92;
}

.menu {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.menu img:first-child {
    background-color: #fff;
    margin-right: .5rem;
}

.menu li:first-child {
    display: flex;
}

.menu li:last-child {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

input {
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    border: .9px #ddd solid;
    padding: .7rem;
    outline: 0;
    color: #495057;
    margin-right: 2rem 0;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
    background-color: #fff;
    border: .5px solid #ddd;
    border-radius: .4rem;
    padding: 1rem;
}

.form label {
    margin-bottom: .3rem;
}

.dp-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dp-horizontal #sexo input {
    margin-left: .5rem;
}

.dp-row-between {
    justify-content: space-between;
}

.dp-column {
    display: flex;
    flex-direction: column;
}

.dp-row {
    display: flex;
}

.bt {
    margin: .5rem 2rem;
    cursor: pointer;
    display: inline-block;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
}

.bt_success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.bt_reset {
    color: #212529;
    background-color: #6c757d;
    border-color: #6c757d;;
}

